<div data-hook="admin_mail_method_form_fields">
  <%= form_for Spree::Store.current, url: admin_mail_method_path  do |f| %>
  <div class="row">
    <div class="col-md-6" data-hook="general">
      <fieldset>
        <legend><%= Spree.t(:general) %></legend>

        <%= f.field_container :enable_mail_delivery, class: ['form-group'] do %>
          <div class="inline-radio">
            <%= label_tag :enable_mail_delivery do %>
              <%= f.check_box :enable_mail_delivery %>
              <%= Spree.t(:enable_mail_delivery) %>
            <% end %>
          </div>
        <% end %>

        <%= f.field_container :mail_from_address, class: ['form-group'] do %>
          <%= f.label :mail_from_address %>
          <%= f.text_field :mail_from_address, maxlength: 256, class: 'form-control' %>
          <span class="info">
            <%= Spree.t(:smtp_send_all_emails_as_from_following_address) %>
          </span>
        <% end %>

        <%= f.field_container :mail_bcc, class: ['form-group'] do %>
          <%= f.label :mail_bcc %>
          <%= f.text_field :mail_bcc, maxlength: 256, class: 'form-control' %>
          <span class="info">
            <%= Spree.t(:system_send_all_emails_as_bcc) %>
          </span>
        <% end %>
      </fieldset>
    </div>

    <div class="col-md-6" data-hook="smtp">
      <fieldset>
        <legend><%= Spree.t(:smtp) %></legend>
        <%= f.field_container :mail_domain, class: ['form-group'] do %>
          <%= f.label :mail_domain %>
          <%= f.text_field :mail_domain, class: 'form-control' %>
        <% end %>
        <%= f.field_container :mail_host, class: ['form-group'] do %>
          <%= f.label :mail_host %>
          <%= f.text_field :mail_host, class: 'form-control' %>
        <% end %>
        <%= f.field_container :mail_port, class: ['form-group'] do %>
          <%= f.label :mail_port, Spree.t(:smtp_port) %>
          <%= f.text_field :mail_port, class: 'form-control' %>
        <% end %>
        <%= f.field_container :secure_connection_type, class: ['form-group'] do %>
          <%= f.label :secure_connection_type %>
          <%= f.select(:secure_connection_type,
                         options_from_collection_for_select(Spree::Core::MailSettings::SECURE_CONNECTION_TYPES, :to_s, :to_s), {},
                         {class: 'select2'} ) %>
        <% end %>
        <%= f.field_container :mail_auth_type, class: ['form-group'] do %>
          <%= f.label :mail_auth_type %>
          <%= f.select(:mail_auth_type,
                         options_from_collection_for_select(Spree::Core::MailSettings::MAIL_AUTH, :to_s, :to_s), {},
                         {class: 'select2'} ) %>
        <% end %>
        <%= f.field_container :smtp_username, class: ['form-group'] do %>
          <%= f.label :smtp_username %>
          <%= f.text_field :smtp_username, class: 'form-control', autocomplete: 'off' %>
        <% end %>
        <%= f.field_container :smtp_encrypted_password, class: ['form-group'] do %>
          <%= f.label :smtp_encrypted_password %>
          <%= f.password_field :smtp_encrypted_password, class: 'form-control', autocomplete: 'off' %>
        <% end %>
      </fieldset>
    </div>
  </div>
<% end %>
</div>
