<div data-hook="admin_mail_method_form_fields">
  <div class="row">
    <div class="alpha six columns" data-hook="general">
      <%= fields_for Spree::Store.current  do |f| %>
      <fieldset>
        <legend align="center"><%= Spree.t(:general) %></legend>

        <div class="field form-group">
          <div class="inline-radio">
            <%= label_tag :enable_mail_delivery do %>
              <%= f.check_box :enable_mail_delivery %>
              <%= Spree.t(:enable_mail_delivery) %>
            <% end %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :mail_from_address %> </br>
          <%= f.text_field :mail_from_address, class: 'form-control fullwidth' %>
          <span class="info">
            <%= Spree.t(:smtp_send_all_emails_as_from_following_address) %>
          </span>
        </div>

      </fieldset>
    </div>

    <div class="omega six columns" data-hook="smtp">
      <fieldset>
        <legend align="center"><%= Spree.t(:smtp) %></legend>
        <div class="field form-group">
          <%= f.label :mail_domain %> </br>
          <%= f.text_field :mail_domain, class: 'form-control fullwidth' %>
        </div>
        <div class="field form-group">
          <%= f.label :mail_host %> </br>
          <%= f.text_field :mail_host, class: 'form-control fullwidth' %>
        </div>
        <div class="field form-group">
          <%= f.label :mail_port, Spree.t(:smtp_port) %> </br>
          <%= f.text_field :mail_port, class: 'form-control fullwidth' %>
        </div>
        <div class="field form-group">
          <%= f.label :secure_connection_type %> </br>
          <%= f.select(:secure_connection_type,
                         Spree::Core::MailSettings::SECURE_CONNECTION_TYPES.map{|i| [i.to_s, i.to_s]},
                         {},{ class: 'select2 fullwidth' } ) %>
        </div>
        <div class="field form-group">
          <%= f.label :mail_auth_type %> </br>
          <%= f.select(:mail_auth_type,
                         Spree::Core::MailSettings::MAIL_AUTH.map{|i| [i.to_s, i.to_s]},
                         {}, { class: 'select2 fullwidth' } ) %>
        </div>
        <div class="field form-group">
          <%= f.label :smtp_username %> </br>
          <%= f.text_field :smtp_username, class: 'form-control fullwidth', autocomplete: 'off' %>
        </div>
        <div class="field form-group">
          <%= f.label :preferred_smtp_password %> </br>
          <%= f.password_field :smtp_password, class: 'form-control fullwidth', autocomplete: 'off' %>
        </div>
      </fieldset>
    <% end %>
    </div>
  </div>
</div>
